<!DOCTYPE html>

<html lang="es">
<head th:replace="~{fragments/base :: head('Crear Paciente')}">
    <meta charset="UTF-8">
    <title>Crear Paciente</title>
    <link rel="stylesheet" th:href="@{/css/crearCuenta.css}">
</head>

<body>

<header th:replace="~{fragments/base::header}"></header>

<main>
    <a th:href="@{/pacientes/crear}">
        Soy Paciente
    </a>
    <a th:href="@{/}">
        Soy Doctor
    </a>
    <a th:href="@{/}">
        Soy Recepcionista
    </a>
    <a th:href="@{/}">
        Soy Gerente
    </a>
</main>

<footer th:replace="~{fragments/base::footer}"></footer>

</body>
</html>