<!doctype html>

<html lang="es">
    <head th:replace="~{fragmento/base :: head('Crear Administrador', '/css/administrador/crearAdministrador.css')}">
        <meta charset="UTF-8" />
        <title>Crear Administrador</title>
    </head>

    <body>
        <header th:replace="~{fragmento/base::header}"></header>

        <main>
            <form th:action="@{/administradores}" method="post" th:object="${administrador}">
                <h1>Crear Cuenta</h1>
                <div class="input-container">
                    <input type="text" id="nombre" th:field="*{nombre}" placeholder="Ingresa tu nombre" />
                    <label for="nombre" class="input-label">Nombre</label>
                </div>

                <div class="input-container">
                    <input type="text" id="apellido" th:field="*{apellido}" placeholder="Ingresa tu apellido" />
                    <label for="apellido" class="input-label">Apellido</label>
                </div>

                <div class="input-container">
                    <input type="text" id="email" th:field="*{email}" placeholder="Ingresa tu email" />
                    <label for="email" class="input-label">Email</label>
                </div>

                <div class="input-container">
                    <input
                        type="text"
                        id="telefono"
                        th:field="*{numeroTelefono}"
                        placeholder="Ingresa tu numero de telefono"
                    />
                    <label for="telefono" class="input-label">Número de Teléfono</label>
                </div>

                <div class="input-container">
                    <input
                        type="password"
                        id="contrasena"
                        th:field="*{contrasena}"
                        placeholder="Ingresa tu contraseña"
                    />
                    <label for="contrasena" class="input-label">Contraseña</label>
                </div>

                <div class="select-container">
                    <label>Nivel de Acceso</label>
                    <select th:field="*{nivelAcceso}" class="select-field">
                        <option disabled selected value="">Selecciona el nivel de Acceso</option>
                        <option th:each="nivelAcceso : ${nivelesAcceso}" th:value="${nivelAcceso}" th:text="${nivelAcceso}"></option>
                    </select>
                </div>

                <div class="buttons-container">
                    <button type="submit">Crear cuenta</button>
                </div>
            </form>
        </main>

        <footer th:replace="~{fragmento/base::footer}"></footer>
    </body>
</html>
