<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragmento/base :: head('Perfil','/css/share/perfil.css')}">
    <meta charset="UTF-8">
    <title>Perfil</title>
</head>
<body>
<header th:replace="~{fragmento/base::header}"></header>

<main>
    <div class="profile-card">

    <div class="profile-header">
        <span class="material-symbols-outlined">person</span>

        <div>
            <h2 th:text="${administrador.nombre + ' ' + administrador.apellido}"></h2>
            <p>Administrador</p>
        </div>
    </div>

    <div class="profile-body">

        <div class="profile-item">
            <label>Email</label>
            <p th:text="${administrador.email}"></p>
        </div>

        <div class="profile-item">
            <label>Teléfono</label>
            <p th:text="${administrador.numeroTelefono}"></p>
        </div>

        <div class="profile-item">
            <label>Nivel de acceso</label>
            <p th:text="${administrador.nivelAcceso}"></p>
        </div>
    </div>

</div>
</main>

<footer th:replace="~{fragmento/base::footer}"></footer>
</body>
</html>