<!doctype html>

<html lang="es">
    <head th:replace="~{fragmento/base :: head('Inicio', '/css/index.css')}">
        <meta charset="UTF-8" />
        <title>Inicio</title>
    </head>

    <body>
        <header th:replace="~{fragmento/base::header}"></header>

        <main>
            <h1>Agenda tu cita medica en minutos</h1>
            <form action="">
                <h3>Agenda una cita</h3>
                <div class="input-container">
                    <input id="especialidad" type="text" placeholder="especialidad" />
                    <label for="especialidad" class="input-label">Especialidad</label>
                </div>

                <div class="input-container">
                    <input id="lugar" type="text" placeholder="direccion" />
                    <label for="lugar" class="input-label">Lugar</label>
                </div>
            </form>
        </main>

        <footer th:replace="~{fragmento/base::footer}"></footer>
    </body>
</html>
