<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/base :: head('Crear Cuenta')}">
    <meta charset="UTF-8">
    <title>Crear Cuenta</title>
</head>

<body>
    <div th:replace="~{fragments/base::header}"></div>

    <main>
        <h2>Crear Cuenta</h2>
        <form th:action="@{/pacientes/crear}" method="post" th:object="${paciente}">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" th:field="*{nombre}" placeholder="Ingresa tu nombre" required>

            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" th:field="*{apellido}" placeholder="Ingresa tu apellido" required>

            <label for="email">Email</label>
            <input type="text" id="email" th:field="*{email}" placeholder="Ingresa tu email" required>

            <label for="fechaNacimiento">Fecha de Nacimiento</label>
            <input type="date" id="fechaNacimiento" th:field="*{fechaNacimiento}" placeholder="Ingresa tu fecha de nacimiento" required>

            <label for="curp">CURP</label>
            <input type="text" id="curp" th:field="*{nacionalId}" placeholder="Ingresa tu CURP" required>

            <br><br>

            <label for="contactoEmergenciaNombre">Contacto Emergencia Nombre</label>
            <input type="text" id="contactoEmergenciaNombre" th:field="*{contactoEmergenciaNombre}" placeholder="Ingresa el nombre del contacto de emergencia" required>

            <label for="contactoEmergenciaTelefono">Contacto Emergencia Número de Telefono</label>
            <input type="text" id="contactoEmergenciaTelefono" th:field="*{contactoEmergenciaTelefono}" placeholder="Ingresa el numero de telefono del contacto de emergencia" required>

            <label for="contrasena">Contraseña</label>
            <input type="password" id="contrasena" th:field="*{contrasena}" placeholder="Ingresa tu contraseña" required>


            <button type="submit">Crear cuenta</button>
        </form>
    </main>

    <div th:replace="~{fragments/base::footer}"></div>
</body>
</html>